
.block.block_products_catalogue {
    background-color: #f7faff;
    color: #3c4145;
    font-family: Avenir Next, Helvetica Neue, Arial, sans-serif;
}
.block.block_products_catalogue .content {
    padding:0;
}
.block.block_products_catalogue h3,
.block.block_products_catalogue .card-title {
    font-size: 24px !important;
    font-weight: 400 !important;
    text-transform: none !important;
    color: #38454e;
    margin-bottom: 1.8rem;
    margin-top: .5rem;
}
.block.block_products_catalogue .powered-by {
    text-align: right;
    padding-top: 3rem;
    border-top: 1px solid #ddd;
    padding-bottom: .5rem;
}
.block.block_products_catalogue .powered-by a {
    color: #999;
    text-decoration: underline;
}
.block.block_products_catalogue .powered-by a:hover {
    text-decoration: none;
}
.block.block_products_catalogue .loader {
    font-size: 3rem;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -2rem;
    margin-left: -2rem;
}
.dashboard-products-box {
    position: relative;
}
.frontpage-products-list {
    margin: 0 -1.6%;
    position: relative;
}

#page-my-index .frontpage-products-list {
    margin: 0;
}

#page-my-index .ecommerce-menu {
    border-top: 1px solid #dbe1e5;
}

#page-my-index #page-content {
    font-family: Avenir Next, Helvetica Neue, Arial, sans-serif !important;
}

.frontpage-products-list.loading {
    opacity: .5;
}
.frontpage-products-list .alert {
    margin: 0 1.5% 1.5%;
}
.dashboard-products-box .back-button-box {
    position: absolute;
    margin-top: -0.4rem;
    right: 0;
    z-index: 1;
}
.dashboard-products-box .back-button-box i {
    margin-right: .5rem;
}
.frontpage-products-list .products-category-description {
    padding: 0 1.5% 1.5%;
    font-size: 1rem;
    color: #8e9295;
    font-size: 1rem;
    line-height: 1.5rem;
}
.frontpage-products-list .products-category-description h4 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #3c4145;
}
.frontpage-products-list .productbox {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    margin: 0 1.6% 3.5%;
    width: 30%;
    padding: 0;
    float: left;
    max-width: 480px;
    overflow: hidden;
    position: relative;
    text-align: left;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.frontpage-products-list .productbox:hover {
    -webkit-box-shadow: 1px 1px 4px #ddd;
    box-shadow: 0 23px 45px -11px #CBDDEA;
}
.frontpage-products-list .productbox .image {
    display: block;
    position: relative;
    overflow: hidden;
    height: 155px;
    border-radius: 4px 4px 0 0;
    width: 100%;
}
.frontpage-products-list .productbox .category-name,
.frontpage-products-list .productbox .product-name {
    line-height: 26px;
    overflow: hidden;
    padding: 12px 12px 0;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    width: 100%;
    font-size: 22px !important;
    color: #00070D !important;
    margin: 0;
    display: block;
    font-weight: bold;
}
.frontpage-products-list .productbox .category-description {
    padding: 0 5%;
    height: 46px;
    overflow: hidden;
    color: #8e9295;
    font-size: 1rem;
    line-height: 1.5rem;
}

.frontpage-products-list .productbox .category-view-btn {
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.frontpage-products-list .product-description {
    padding: 12px;
    font-size: 15px;
}
.frontpage-products-list .product-description ul {
    list-style: none;
    font-size: 15px;
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    height: 40px;
    overflow: hidden;
}
.frontpage-products-list .product-description li label {
    color: #8e9295;
    margin: 0;
}
.frontpage-products-list .product-description li .placeholder {
    border-bottom: 1px dashed #8e9295;
    display: inline-block;
    width: 50%;
    margin: 0 1.5%;
}
.frontpage-products-list .product-description li span {

}


@media all and (max-width: 1200px) {
    .frontpage-products-list .productbox {
        width: 46.7%;
    }
}
@media all and (max-width: 700px) {
    .frontpage-products-list .productbox {
        width: 97%;
        max-width: 97%;
        float: none;
    }
}
