{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/categories_list

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
{{#iscategories}}
    {{#categories}}
        <div class="productbox categorybox clearfix" data-categoryid={{id}}>

        <!-- display category image -->
        <div class="image" style="background:url('{{image}}') no-repeat scroll center center; background-size: cover;"></div>

        <!-- category name -->
        <h3 class="category-name">{{name}}</h3>

        <!-- category description -->
        <div class="category-description">{{{description}}}</div>

        <!-- view button -->
        <div class="category-view-btn">
            <button class="btn btn-primary">{{# str }} viewproducts, block_products_catalogue {{/ str }}</button>
        </div>

        </div>
    {{/categories}}

    {{#showloadmore}}
        <div class="load-more-box clearfix">
            <button class="btn btn-primary" id="loadmore-categories" data-page="{{nextpage}}">{{# str }} loadmore, block_products_catalogue {{/ str }}</button>
        </div>
    {{/showloadmore}}
{{/iscategories}}

{{#shownoproducts}}
    <div class="alert alert-block alert-info">{{# str }} noproducts, block_products_catalogue {{/ str }}</div>
{{/shownoproducts}}