{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/products_catalogue

    This template renders the products catalogue content area for the dashboard block.

    Example context (json):
    {}
}}

<div class="dashboard-products-box">

    <div class="items-list" id="availableproducts">

        <div class="back-button-box hidden">
            <button class="back-btn btn btn-primary"><i class="fa fa-angle-left"></i>{{# str }} back, block_products_catalogue {{/ str }}</button>
        </div>

        <div class="products clearfix frontpage-products-list">

            <!-- categories by default -->
            {{> block_products_catalogue/categories_list }}

        </div>

    </div>

</div>