{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/products_list

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
{{#showcategorydescription}}
    <div class="products-category-description">
        <h4 class="category-name">{{{categoryname}}}</h4>
        {{{categorydescription}}}
    </div>
{{/showcategorydescription}}
{{#isproducts}}
    {{#products}}
        <div class="productbox clearfix" data-productid={{id}}>

        <!-- product image -->
        <div class="image" style="background:url('{{image}}') no-repeat scroll center center; background-size: cover;"></div>

        <!-- product name -->
        <h3 class="product-name">{{name}}</h3>

        <!-- product description -->
        <div class="product-description">
            <ul>
                <li class="clearfix">
                    <label>{{# str }} price, block_products_catalogue {{/ str }}:</label>
                    <span>{{price}} {{{currency}}}</span>
                <li class="clearfix">
                {{#idnumber}}
                    <li>
                        <label>{{# str }} code, block_products_catalogue {{/ str }}:</label>
                        <span>{{idnumber}}</span>
                    </li>
                {{/idnumber}}
            </ul>
        </div>

        <div class="product-view-btn">
            <!-- view button -->
            <a href="{{producturl}}"><button class="btn btn-primary">{{# str }} details, block_products_catalogue {{/ str }}</button></a>

            <!-- checkout button -->
            {{#cancheckout}}
                {{#incart}}
                    <button class="btn btn-primary btn-disabled" disabled="disabled" data-product-id="{{id}}">{{# str }} incart, block_products_catalogue {{/ str }}</button>
                {{/incart}}
                {{^incart}}
                    {{#seatsallow}}
                        <button class="btn btn-primary" onclick="add_to_cart({{id}}, this);" data-product-id="{{id}}">{{# str }} addtocart, block_products_catalogue {{/ str }}</button>
                    {{/seatsallow}}
                    {{^seatsallow}}
                        {{#enablewaitlist}}
                            {{#inwaitlist}}
                                <button class="btn btn-primary btn-disabled" disabled="disabled" data-product-id="{{id}}">{{# str }} inwaitlist, block_products_catalogue {{/ str }}</button>
                            {{/inwaitlist}}
                            {{^inwaitlist}}
                                <button class="btn btn-primary" onclick="add_to_waitlist({{id}}, this);" data-product-id="{{id}}">{{# str }} addtowaitlist, block_products_catalogue {{/ str }}</button>
                            {{/inwaitlist}}
                        {{/enablewaitlist}}
                    {{/seatsallow}}
                {{/incart}}
            {{/cancheckout}}
        </div>

        </div>
    {{/products}}

    {{#showloadmore}}
        <div class="load-more-box clearfix">
            <button class="btn btn-primary btn-success" id="loadmore-products" data-categoryid="{{categoryid}}" data-page="{{nextpage}}">{{# str }} loadmore, block_products_catalogue {{/ str }}</button>
        </div>
    {{/showloadmore}}
{{/isproducts}}
{{^isproducts}}
    <div class="alert alert-block alert-info">{{# str }} noproducts, block_products_catalogue {{/ str }}</div>
{{/isproducts}}